body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    background-color: wheat;
}

header {
    background-color: skyblue;
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px black;
}

main {}

h1,
h3 {
    margin: 0 0 0 8px;
}

.site-name {
    display: inline-block;
}

.filler {
    flex-grow: 1;
}

.login {
    display: inline-block;
}

.topic-list {
    background-color: yellowgreen;
    margin: 50px auto;
    max-width: 900px;
}

.topic {
    border: solid 1px black;
}

.topic:hover {
    cursor: pointer;
    background-color: yellow;
}

.topic-author {
    font-size: 10pt;
    margin-left: 8px;
}

.post-list {
    background-color: yellowgreen;
    margin: 50px auto;
    max-width: 900px;
}

.post {
    display: flex;
    flex-direction: row;
    background-color: skyblue;
    border: 1px solid black;
    margin: 4px 0;
}

.post-author {
    width: 15%;
    padding: 8px;
    border-right: 1px solid black;
    overflow: hidden;
}

.post-contents {
    padding: 8px;
}

.user-name {
    font-weight: bold;
}

.post-date {
    font-size: 10pt;
    font-weight: bold;
}




/* .border {
    border: 1px solid #b4bba4;
    padding: 10px;
    background: 50px;
    color: white;
    font-size: 24pt;
} */